body {
  background-color: #64bf83;
  font-family: Helvetica;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.app {
  text-align: center;
  cursor: pointer;
}

.app p {
  margin: 0;
}

.app img {
  margin-bottom: 10px;
}
